/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #eef2f9; /* Cor de fundo azul claro da imagem */
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center; /* Centraliza verticalmente */
  padding: 20px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 650px; /* Largura ajustada para o conteúdo */
  text-align: center;
}
